
           <section class="half-width">
               <h2>Om företaget</h2>
                <img src="~/Images/photo-1517486808906-6ca8b3f04846.jpg"  alt="bild på grundarna av företaget"/>
                <article>
                    <h3>Vårt företag</h3>
                    <p>In in turpis scelerisque, sodales ante sollicitudin, rutrum nulla. Nam luctus varius tortor, eu dapibus tellus consectetur ut. Nulla rhoncus ac felis eget ultricies. Nam a orci turpis. Pellentesque vitae varius quam. Suspendisse a vulputate ex. Nunc bibendum vulputate nunc ut tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, felis sit amet consectetur rhoncus, nibh arcu pellentesque est, a blandit metus nisi in dui. Donec finibus turpis in imperdiet viverra. Donec nisi turpis, cursus ac eros sit amet, rutrum viverra orci. Sed gravida fringilla velit ut facilisis.</p>
                </article>
            </section>
            <section class="half-width right">

                <h2>Vår historia</h2>
                    <article>
                        <h3>Vår historia</h3>
                        <p>In in turpis scelerisque, sodales ante sollicitudin, rutrum nulla. Nam luctus varius tortor, eu dapibus tellus consectetur ut. Nulla rhoncus ac felis eget ultricies. Nam a orci turpis. Pellentesque vitae varius quam. Suspendisse a vulputate ex. Nunc bibendum vulputate nunc ut tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, felis sit amet consectetur rhoncus, nibh arcu pellentesque est, a blandit metus nisi in dui. Donec finibus turpis in imperdiet viverra. Donec nisi turpis, cursus ac eros sit amet, rutrum viverra orci. Sed gravida fringilla velit ut facilisis.</p>
                    </article>


            </section>